@using PagedList.Mvc
@model PagedList.IPagedList<Model.ViewModel.OpenInventoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="tables">
    @using (Html.BeginForm("Index", "OpenInventory", FormMethod.Get))
    {
        <div class="row form-group">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <h1 class="title1">Open inventory</h1>
                </div>
                <div class="col-md-8">
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="WarehouseID" name="warehouseID" value="@ViewBag.WarehouseID" />
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" placeholder="Year" name="year" value="@ViewBag.Year" />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control col-md-3" name="month">
                            <option value=""></option>
                            <option value="Jan" selected="@ViewBag.Month">January</option>
                            <option value="Feb" selected="@ViewBag.Month">February</option>
                            <option value="Mar" selected="@ViewBag.Month">March</option>
                            <option value="Apr" selected="@ViewBag.Month">April</option>
                            <option value="May" selected="@ViewBag.Month">May</option>
                            <option value="Jun" selected="@ViewBag.Month">June</option>
                            <option value="Jul" selected="@ViewBag.Month">July</option>
                            <option value="Aug" selected="@ViewBag.Month">August</option>
                            <option value="Sep" selected="@ViewBag.Month">September</option>
                            <option value="Oct" selected="@ViewBag.Month">October</option>
                            <option value="Nov" selected="@ViewBag.Month">November</option>
                            <option value="Dec" selected="@ViewBag.Month">December</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" placeholder="Search" />
                    </div>
                    <button type="submit" class="btn btn-success">Search</button>
                    <a type="submit" class="btn btn-success" href="/Admin/OpenInventory/Index">Clear</a>
                    <a type="submit" class="btn btn-primary" href="/Admin/OpenInventory/Create">+</a>
                </div>             
            </div>
        </div>
    }

    <div class="table-responsive bs-example widget-shadow">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>WarehouseCode</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>ProductCode</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>@item.WarehouseCode</td>
                        <td>@item.Year</td>
                        <td>@item.Month</td>
                        <td>@item.ProductCode</td>
                        <td>@item.Quantity</td>
                        <td>
                            <a href="/Admin/OpenInventory/Edit/@item.ID">Edit</a>
                            |
                            @Ajax.ActionLink("Delete", "Delete", new { @id = @item.ID }, new AjaxOptions
                       {
                           Confirm = "Do you really want to delete this row?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString}))
    </div>
</div>