@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productCategory = (List<Model.EntityFramework.ProductCategory>)ViewBag.ProductCategory;
    var topNewProducts = (List<Model.ViewModel.ProductViewModel>)ViewBag.TopNewProducts;
    var topNewContents = (List<Model.EntityFramework.Content>)ViewBag.TopNewContents;
    var topNewSlides = (List<Model.EntityFramework.Slide>)ViewBag.TopNewSlides;
    var newestBanner = (Model.EntityFramework.Banner)ViewBag.NewestBanner;
}


@section banner{
    <div class="banner" style="background: url(@newestBanner.Image) no-repeat center;
                                width: 100%;
	                            min-height: 600px;
	                            display: block;
	                            padding: 12em 0 0;
	                            background-size: cover;">
    <div class="container">
        <div class="banner-matter">
            @Html.Raw(newestBanner.Content)
            <div class="out">
                <a href="/News" class="find">FIND OUT MORE </a>
                <a href="/News" class="shop">START</a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>    
}

<div class="content">
    <div class="sport-your">
        <!-- requried-jsfiles-for owl -->
        <link href="/Assets/Client/css/owl.carousel.css" rel="stylesheet">
        <script src="/Assets/Client/js/owl.carousel.js"></script>
        <script>
									    $(document).ready(function() {
									      $("#owl-demo").owlCarousel({
									        items : 5,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
        </script>
        <!-- //requried-jsfiles-for owl -->
        <!-- start content_slider -->
        <div class="line1">

        </div>
        <div id="example1">
            <div id="owl-demo" class="owl-carousel text-center">
            @foreach (var item in productCategory)
            {
                var url = "/Product/" + item.MetaTitle + "-" + item.ID;
                <div class="item">
                    <a href="@url" title="image" rel="title1">
                        <img class="img-responsive " src="@item.Image" alt="">
                        <div class="run">
                            <i class="@item.Class"></i>
                            <p>@item.Name</p>
                        </div>
                    </a>
                </div>
            }  
            @foreach (var item in productCategory)
            {
                var url = "/Product/" + item.MetaTitle + "-" + item.ID;
                <div class="item">
                    <a href="@url" title="image" rel="title1">
                        <img class="img-responsive " src="@item.Image" alt="">
                        <div class="run">
                            <i class="@item.Class"></i>
                            <p>@item.Name</p>
                        </div>
                    </a>
                </div>
            }
            </div>
        </div>
        <h6 class="your-in">Your sport</h6>
        <div class="line2">

        </div>
    </div>
    <!--//sreen-gallery-cursual---->
    <div class="content-grids">
    @foreach (var item in topNewProducts)
    {
        var link = "/Product/" + item.CategoryMetaTitle + "/" + item.MetaTitle + "-" + item.ID;
        <div class="col-md-4 content-grid">
            <a href="@link" class="lot"><img class="img-responsive " src="@item.Image" alt=""></a>
            <div class="shoe">
                <p>
                    @item.Name
                </p>
                <label>$@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Contact us")</label>
                <a href="/Add-To-Cart?productId=@item.ID&quantity=1">ADD TO CART</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    }
        <div class="clearfix"> </div>
    </div>
    <!---->
    <div class="content-top">
    @foreach (var item in topNewContents)
    {
        var link = "/News/" + item.MetaTitle + "-" + item.ID;
        <div class="col-md-4 top-content">
            <a href="@link"><img class="img-responsive " src="@item.Image" alt=""></a>
        </div>
    }
        
        <div class="clearfix"> </div>
    </div>
    <div class="content-bottom">
        <div class="col-md-8 bottom-content">
            <script src="/Assets/Client/js/responsiveslides.min.js"></script>
            <script>
						$(function () {
						  $("#slider").responsiveSlides({
							auto: true,
							speed: 500,
							namespace: "callbacks",
							pager: false,
							 nav:true,
						  });
						});
            </script>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                    @foreach (var item in topNewSlides)
                    {
                        <li>
                            <a href="@item.Link"><img src="@item.Image" alt="@item.Name"></a>
                        </li>
                    }    
                    </ul>
                </div>
                <div class="london">
                    <h5>Super hot events</h5>
                    <p>Enjoy now !!!</p>
                </div>
            </div>

        </div>
        <div class="col-md-4 bottom-grid">
            <h4>Latest News</h4>
            @foreach (var item in topNewContents)
            {
                var link = "/News/" + item.MetaTitle + "-" + item.ID;
                <div class="news">
                    <span><a href="@link" style="color:white;">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</a></span>
                    <p><a href="@link" style="color:white;">@item.Name</a></p>
                    <div class="foot">
                        <label>News</label>
                        <ul class="eye ">
                            <li><span><i> </i>315</span></li>
                            <li><a href="@link"><i class="comment"> </i> 3</a></li>
                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }
            <a href="/News" class="view">VIEW ALL NEWS</a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

