@model Model.EntityFramework.Content

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedContent = (List<Model.EntityFramework.Content>)ViewBag.RelatedContent;
}

<div class="container">
    <div class="contact">
        <div class="col-md-8 contact-grid">
            <h2>@Model.Name</h2>      
            @Html.Raw(Model.Detail)
            <br/>
            <h4> Tags:
            @{
                var tags = (List<Model.EntityFramework.Tag>)ViewBag.Tags;
                foreach (var tag in tags)
                {
                    <label><a href="/Tag/@tag.ID">@tag.Name </a></label>
                }
            }
            </h4>    
        </div>

        <div class="col-md-4">
            <div class="single-bottom">
                <h4>Related News</h4>
                @if (relatedContent.Count() > 0)
                {
                    foreach (var item in relatedContent)
                    {
                        var link = "/News/" + item.MetaTitle + "-" + item.ID;
                        <div class="product-go">
                            <img class="img-responsive fashion" src="@item.Image" alt="">
                            <div class="grid-product">
                                <a href="@link" class="elit">@item.Name</a>
                                <span class="price-in">@item.Description</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }
                }    
            </div>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>